.bg{
  margin: 0;
  padding: 0;
  color: rgb(27, 179, 65);
  font-family: 'Niconne', cursive;
  font-size: large;
  font-weight: 500;
}
.toolbar:hover{
  background-color: rgba(24, 24, 26, 0.068);
  color: rgb(27, 179, 65);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

  .toolbar {
    color: white;
    background-color: rgb(27, 179, 65);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  button:hover{
  background-color: white;
  color: rgb(27, 179, 65);
}

  
  .card{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    border-radius: 50px;
    
  }
button{
  background-color: rgb(27, 179, 65);
  border: none;
  border-radius: 5px;
  color: white;
}
button:hover{
  background-color: white;
  color: rgb(27, 179, 65);
}
.b-text{
  font-style: italic;
  font-weight: 500;
  background-color: rgb(27, 179, 65);
  color: white;
  border-radius: 10px;
}
