<div class="container-fluid bg">
  <div class=" container toolbar ">
    <h1 class="text-center">Quotes Inspirador</h1>
  </div><br><br>
  
  <div class="container">
   
    <div class="row">
      <div class="col-md-6 card">
        <h2 class="text-center">Popular Quotes</h2>
        <div *ngFor='let quote of quotes;let i = index'>
          <div class="card">
            <div class="text-center">
              <p > <i class="fas fa-quote-left"></i>{{quote.name}}  <i class="fas fa-quote-right"> &nbsp;&nbsp;&nbsp; </i>{{quote.completeDate|date|uppercase}}</p>
              <button (click)='toggleDetails(i)' class="">Show More</button>
            </div>
            <h4 class="card-title" ></h4>
            
                  <p class="card-text" id="param"></p>
            <div *ngIf='quote.showAuthor'>
              <app-quote-details [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>
  
  
</div>