<div class="container ">
     <div class="row">
          <div class="col-md-6">
               <p>
                    —{{quote.author}} ,
                    {{quote.completeDate|dateCount}} days ago
               </p>
               <!-- <p> {{quote.completeDate|dateCount}} days ago</p> -->
          </div>
          <div class="col-md-6">
               
               <p>
                    Posted by {{quote.yourName}}
               </p>
          </div>
          <div class="col-md-6">
               <i (click)='likeButtonClick()'> <button class="vote">Vote-Up</button></i>
                    {{numberOfLikes}} &nbsp;&nbsp;
               <i (click)='dislikeButtonClick()'> <button class="vote1">Vote-Down</button> </i>
                    {{numberOfDislikes}} <br><br>
          </div>
          <div class="col-md-6">
               <button (click)= 'quoteDelete(true)'>Delete Quote</button>
          </div>
     </div>
</div>  
