.form{
    padding: 30px;
    border-radius: 30px;
    background: white;
   
}

button{
    background-color: rgb(27, 179, 65);
    border: none;
    border-radius: 5px;
    color: white;
  }
  .input input{
    background-color: rgb(27, 179, 65);
    border: none;
    border-radius: 5px;
    color: white;
  }
  button:hover{
    background-color: white;
    color: rgb(27, 179, 65);
  }
  ::placeholder{
    color: rgb(27, 179, 65);
  }
  