<div class="container-fluid">
    <h2 class="text-center">Add a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea rows="5" type="text" class="form-control" id="quote" [(ngModel)]="newQuote.name" name="quote" #quote='ngModel' required></textarea>
            
        </div>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name">
            
        </div><br>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
</div>
